@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

*::before::after {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

#bloc-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
}
@media (max-width: 480px) {
  #bloc-nav {
    flex-direction: column;
    height: 100%;
  }
}
#bloc-nav .bloc {
  background: url("./grunge.png"), linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(41, 55, 255) 80%, rgb(125, 145, 255) 100%);
  filter: contrast(100%) brightness(100%) sepia(10%);
  background-blend-mode: overlay;
  background-size: cover;
  transform-origin: top;
  color: #000;
  border-radius: 0 0 50% 50%/0 0 50px 50px;
  transition: 300ms;
  z-index: 100;
  flex: 1;
}
#bloc-nav .bloc#bloc1 {
  height: 45%;
}
#bloc-nav .bloc#bloc2 {
  height: 70%;
}
#bloc-nav .bloc#bloc3 {
  height: 55%;
}
#bloc-nav .bloc#bloc4 {
  height: 80%;
}
#bloc-nav .bloc#bloc5 {
  height: 100%;
}
#bloc-nav .bloc#bloc6 {
  height: 35%;
}
#bloc-nav .bloc#bloc7 {
  height: 70%;
}
@media (max-width: 480px) {
  #bloc-nav .bloc {
    background: url("/assets/img/grunge.png"), linear-gradient(0deg, rgb(0, 0, 0) 10%, rgb(41, 55, 255) 80%, rgb(125, 145, 255) 100%);
    border-radius: 0 20px 20px 0/0 50% 50% 0;
    transform-origin: left;
  }
  #bloc-nav .bloc#bloc1,
  #bloc-nav .bloc #bloc2,
  #bloc-nav .bloc #bloc3,
  #bloc-nav .bloc #bloc4,
  #bloc-nav .bloc #bloc5,
  #bloc-nav .bloc #bloc6,
  #bloc-nav .bloc #bloc7 {
    flex: 1;
  }
  #bloc-nav .bloc#bloc1 {
    width: 40%;
  }
  #bloc-nav .bloc#bloc2 {
    width: 60%;
  }
  #bloc-nav .bloc#bloc3 {
    width: 50%;
  }
  #bloc-nav .bloc#bloc4 {
    width: 70%;
  }
  #bloc-nav .bloc#bloc5 {
    width: 85%;
  }
  #bloc-nav .bloc#bloc6 {
    width: 40%;
  }
  #bloc-nav .bloc#bloc7 {
    width: 65%;
  }
}
#bloc-nav .bloc:hover {
  transform: scaleY(1.1);
}
@media (max-width: 480px) {
  #bloc-nav .bloc:hover {
    transform: scaleY(1) scaleX(1.1);
    height: 12vh;
  }
}
#bloc-nav .bloc:hover p {
  color: #fff;
  letter-spacing: 15px;
}
@media (max-width: 480px) {
  #bloc-nav .bloc:hover p {
    letter-spacing: 8px;
  }
}
#bloc-nav .bloc p {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  color: #000;
  font-family: "Anton", sans-serif;
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 3.85vw;
  text-transform: uppercase;
  transform: rotate(180deg);
  z-index: 100;
  display: flex;
  margin: 20px 0 0 20px;
  transition: 300ms;
  float: right;
}
@media (max-width: 480px) {
  #bloc-nav .bloc p {
    letter-spacing: 6px;
    font-size: 8vw;
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    float: left;
  }
}

.steps {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.mouse {
  cursor: pointer;
}

/*------------------------------------ BLOCS -----------------------------------*/
header {
  height: 80vh;
  width: 100%;
}

footer {
  width: 100%;
  z-index: 99;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 20%);
  bottom: 0;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 480px) {
  footer {
    width: auto;
    flex-direction: column;
    padding: 24px;
  }
}
@media (min-width: 1024px) {
  footer {
    position: fixed;
    bottom: -20px;
  }
}
footer #name {
  font-size: 200px;
  transition: 0.75s;
  margin: 0;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 28px;
}
@media (max-width: 480px) {
  footer #name {
    font-size: 90px;
    padding-bottom: 0px !important;
  }
}
footer .info-line {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
footer #infos {
  align-self: flex-end;
  padding: 40px 60px;
}
@media (max-width: 480px) {
  footer #infos {
    align-self: flex-start;
    padding: 0;
  }
}
footer #infos a {
  text-decoration: none;
}

a {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
}

.info {
  color: blue;
  transition: 0.75s;
  font-weight: 600;
}

#content {
  padding: 60px;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  #content {
    padding: 24px;
    margin-bottom: 0;
  }
}
#content h2 {
  color: blue;
  margin: 0;
}
@media (max-width: 480px) {
  #content h2 {
    padding-top: 40px;
    padding-bottom: 0px !important;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  min-height: 90px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  cursor: pointer;
  border-bottom: 1px solid blue;
  padding: 0 60px;
  transition: background-color 0.3s ease;
}
@media (max-width: 480px) {
  .gallery {
    flex-direction: column;
    align-items: start;
    padding: 18px 12px;
    gap: 0;
  }
}
.gallery:first-of-type {
  border-top: 1px solid blue;
}
.gallery:hover {
  background-color: rgb(173, 216, 255);
}
.gallery .description-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
@media (max-width: 480px) {
  .gallery .description-group {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
.gallery .description-group h3 {
  font-size: 30px;
  margin: 0;
  max-width: none;
  white-space: nowrap;
  line-height: 1;
  padding-bottom: 6px;
}
@media (max-width: 480px) {
  .gallery .description-group h3 {
    white-space: normal;
  }
}
.gallery .description-group .release-date {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-left: auto;
  order: 3;
}
@media (max-width: 480px) {
  .gallery .description-group .release-date {
    padding-top: 6px;
  }
}
.gallery .description-group .description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
@media (max-width: 480px) {
  .gallery .description-group .description {
    white-space: normal;
    padding-bottom: 0;
    display: -webkit-box; /* Crée une boîte flexible */
    -webkit-line-clamp: 3; /* Limite à 3 lignes */
    -webkit-box-orient: vertical;
  }
}
.gallery .col {
  display: none;
}

.gallery.open {
  display: flex;
  flex-direction: column;
  min-height: auto;
  justify-content: left;
  align-items: baseline;
  max-height: none;
  overflow: visible;
  padding: 20px 0;
}
.gallery.open:hover {
  background-color: rgb(255, 255, 255);
}
.gallery.open .description-group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}
.gallery.open .description-group h3 {
  font-size: 30px;
}
.gallery.open .description-group .description {
  order: 3;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  max-height: none;
}
@media (max-width: 480px) {
  .gallery.open .description-group .description {
    padding-bottom: 16px;
    display: block;
  }
}
.gallery.open .description-group .release-date {
  order: 2;
  margin-left: 0;
}
@media (min-width: 1024px) {
  .gallery.open .description-group .release-date {
    position: absolute;
    right: 60px;
  }
}
.gallery.open .col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  width: 100%;
}
@media (max-width: 480px) {
  .gallery.open .col {
    margin-top: 0;
    flex-direction: column;
  }
}
.gallery.open .col img {
  border-radius: 16px;
  max-width: 24.5%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.15s ease-in-out;
}
.gallery.open .col img:hover {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .gallery.open .col img:hover {
    transform: translateY(-5px) scale(1.0075);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 480px) {
  .gallery.open .col img {
    max-width: 100%;
    margin-bottom: 12px;
  }
}
.gallery.open .col video {
  border-radius: 16px;
  max-width: 49.5%;
}
@media (max-width: 480px) {
  .gallery.open .col video {
    max-width: 100%;
    padding-bottom: 8px;
  }
}
.gallery.open .col iframe {
  border-radius: 16px;
  max-width: 100%;
  height: 1080px;
  width: 100%;
}
@media (max-width: 480px) {
  .gallery.open .col iframe {
    display: none;
  }
}
.gallery.open .col .iframe-link {
  display: none;
}
@media (max-width: 480px) {
  .gallery.open .col .iframe-link {
    display: block;
    color: blue;
    text-decoration: none;
    text-align: center;
  }
}

#experience {
  width: 550px;
}
@media (max-width: 480px) {
  #experience {
    width: 100%;
  }
}

.about-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 180px;
}
@media (max-width: 480px) {
  .about-col {
    flex-direction: column;
    padding-right: 0;
  }
  .about-col > * {
    padding-top: 46px;
  }
}
.about-col .CV-title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 400;
  color: grey;
  margin: 0;
}
.about-col .diplome .nom,
.about-col .diplome .lien {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: blue;
  padding-top: 10px;
}
.about-col .diplome .nom a:hover,
.about-col .diplome .lien a:hover {
  color: rgb(88, 99, 248);
}
.about-col .diplome .lieu {
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin: 6px 0;
}
.about-col .diplome .date {
  font-size: 16px;
  font-weight: 400;
  color: grey;
  margin: 8px 0;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 999;
}
#lightbox img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0px 0px 35px black;
}
@media (max-width: 480px) {
  #lightbox img {
    width: auto;
    height: 90vw;
    transform: rotate(90deg);
    max-width: 90vh;
    max-height: 90vw;
  }
}
#lightbox .close {
  z-index: 1000;
  position: absolute;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
  color: blue;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#lightbox .close:hover {
  background-color: #5863f8;
  color: white;
}
@media (max-width: 480px) {
  #lightbox .close {
    bottom: 0px;
  }
}
@media (min-width: 1024px) {
  #lightbox .close {
    top: 45px;
    right: 20px;
  }
}
#lightbox .prev {
  left: 5vw;
}
#lightbox .next {
  right: 5vw;
}
#lightbox .prev,
#lightbox .next {
  z-index: 1000;
  position: absolute;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: blue;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#lightbox .prev:hover,
#lightbox .next:hover {
  background-color: #5863f8;
  color: white;
}
@media (max-width: 480px) {
  #lightbox .prev,
  #lightbox .next {
    bottom: 0px;
  }
}
@media (min-width: 1024px) {
  #lightbox .prev,
  #lightbox .next {
    top: 50%;
  }
}
#lightbox.show {
  opacity: 1;
  visibility: visible;
}

#canvas-container {
  pointer-events: none;
  position: fixed;
  bottom: 0px;
  left: 1850px;
  width: 200%;
  transition: opacity 0.25s ease-out;
  opacity: 0;
}
@media (max-width: 480px) {
  #canvas-container {
    width: 50%;
    bottom: 175px;
    left: 20px;
  }
  #canvas-container #myCanvas {
    width: 90%;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */