@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

*::before::after {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

.bloc {
  background: linear-gradient(90deg, rgb(23, 29, 28) 30%, rgb(88, 99, 248) 80%, rgb(211, 211, 211) 100%);
  width: 14.285%;
  color: #000;
  border-radius: 0 0 50% 50%/0 0 50px 50px;
  transition: 300ms;
  z-index: 100;
  position: absolute;
}
@media (max-width: 480px) {
  .bloc {
    background: linear-gradient(0deg, rgb(23, 29, 28) 30%, rgb(88, 99, 248) 80%, rgb(211, 211, 211) 100%);
    border-radius: 0 20px 20px 0/0 50% 50% 0;
  }
}
.bloc p {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  color: #000;
  font-family: "Anton", sans-serif;
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 3.85vw;
  text-transform: uppercase;
  transform: rotate(180deg);
  z-index: 100;
  display: flex;
  margin: 20px 0 0 20px;
  transition: 300ms;
  float: right;
}
@media (max-width: 480px) {
  .bloc p {
    letter-spacing: 6px;
    font-size: 8vw;
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    float: left;
  }
}

.steps {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.mouse {
  cursor: pointer;
}

/*------------------------------------ BLOCS -----------------------------------*/
#bloc1 {
  height: 525px;
  left: 0%;
}
@media (max-width: 480px) {
  #bloc1 {
    width: 50%;
    height: 12vh;
    left: 0;
  }
  #bloc1:hover {
    width: 55%;
  }
}

#bloc1:hover {
  height: 700px;
}
@media (max-width: 480px) {
  #bloc1:hover {
    height: 12vh;
  }
}

#bloc1:hover p {
  color: #fff;
  letter-spacing: 15px;
}
@media (max-width: 480px) {
  #bloc1:hover p {
    letter-spacing: 8px;
  }
}

/*-----------------*/
#bloc2 {
  height: 425px;
  left: 14.285%;
}
@media (max-width: 480px) {
  #bloc2 {
    width: 65%;
    height: 12vh;
    top: 12vh;
    left: 0;
  }
  #bloc2:hover {
    width: 70%;
  }
}

#bloc2:hover {
  height: 555px;
}
@media (max-width: 480px) {
  #bloc2:hover {
    height: 12vh;
  }
}

#bloc2:hover p {
  color: #fff;
  letter-spacing: 15px;
}
@media (max-width: 480px) {
  #bloc2:hover p {
    letter-spacing: 8px;
  }
}

/*-----------------*/
#bloc3 {
  background: linear-gradient(90deg, rgb(23, 29, 28) 20%, rgb(88, 99, 248) 60%, rgb(211, 211, 211) 100%);
  height: 470px;
  left: 28.57%;
}
@media (max-width: 480px) {
  #bloc3 {
    background: linear-gradient(0deg, rgb(23, 29, 28) 20%, rgb(88, 99, 248) 60%, rgb(211, 211, 211) 100%);
    width: 55%;
    height: 12vh;
    top: 24vh;
    left: 0;
  }
  #bloc3:hover {
    width: 62%;
  }
}

#bloc3:hover {
  height: 585px;
}
@media (max-width: 480px) {
  #bloc3:hover {
    height: 12vh;
  }
}

#bloc3:hover p {
  color: #fff;
  letter-spacing: 15px;
}
@media (max-width: 480px) {
  #bloc3:hover p {
    letter-spacing: 8px;
  }
}

/*-----------------*/
#bloc5 {
  background: linear-gradient(90deg, rgb(23, 29, 28) 5%, rgb(88, 99, 248) 55%, rgb(211, 211, 211) 100%);
  height: 650px;
  left: 42.855%;
}
@media (max-width: 480px) {
  #bloc5 {
    background: linear-gradient(0deg, rgb(23, 29, 28) 5%, rgb(88, 99, 248) 55%, rgb(211, 211, 211) 100%);
    width: 80%;
    height: 12vh;
    top: 36vh;
    left: 0;
  }
  #bloc5:hover {
    width: 87%;
  }
}

#bloc5:hover {
  height: 800px;
}
@media (max-width: 480px) {
  #bloc5:hover {
    height: 12vh;
  }
}

#bloc5:hover p {
  color: #fff;
  letter-spacing: 15px;
}
@media (max-width: 480px) {
  #bloc5:hover p {
    letter-spacing: 8px;
  }
}

/*-----------------*/
#bloc6 {
  background: linear-gradient(90deg, rgb(23, 29, 28) 0%, rgb(88, 99, 248) 45%, rgb(211, 211, 211) 90%);
  height: 880px;
  left: 57.14%;
}
@media (max-width: 480px) {
  #bloc6 {
    background: linear-gradient(0deg, rgb(23, 29, 28) 0%, rgb(88, 99, 248) 45%, rgb(211, 211, 211) 90%);
    width: 90%;
    height: 12vh;
    top: 48vh;
    left: 0;
  }
  #bloc6:hover {
    width: 95%;
  }
}

#bloc6:hover {
  height: 980px;
}
@media (max-width: 480px) {
  #bloc6:hover {
    height: 12vh;
  }
}

#bloc6:hover p {
  color: #fff;
  letter-spacing: 15px;
}
@media (max-width: 480px) {
  #bloc6:hover p {
    letter-spacing: 8px;
  }
}

/*-----------------*/
#bloc7 {
  background: linear-gradient(90deg, rgb(23, 29, 28) 0%, rgb(88, 99, 248) 35%, rgb(211, 211, 211) 80%);
  height: 340px;
  left: 71.425%;
}
@media (max-width: 480px) {
  #bloc7 {
    background: linear-gradient(0deg, rgb(23, 29, 28) 0%, rgb(88, 99, 248) 35%, rgb(211, 211, 211) 80%);
    width: 40%;
    height: 12vh;
    top: 60vh;
    left: 0;
  }
  #bloc7:hover {
    width: 50%;
  }
}

#bloc7:hover {
  height: 425px;
}
@media (max-width: 480px) {
  #bloc7:hover {
    height: 12vh;
  }
}

#bloc7:hover p {
  color: #fff;
  letter-spacing: 15px;
}
@media (max-width: 480px) {
  #bloc7:hover p {
    letter-spacing: 8px;
  }
}

/*-----------------*/
#bloc8 {
  background: linear-gradient(90deg, rgb(23, 29, 28) 0%, rgb(88, 99, 248) 30%, rgb(211, 211, 211) 70%);
  height: 575px;
  left: 85.71%;
}
@media (max-width: 480px) {
  #bloc8 {
    background: linear-gradient(0deg, rgb(23, 29, 28) 0%, rgb(88, 99, 248) 30%, rgb(211, 211, 211) 70%);
    width: 70%;
    height: 12vh;
    top: 72vh;
    left: 0;
  }
  #bloc8:hover {
    width: 75%;
  }
}

#bloc8 p {
  color: #5863f8;
}

#bloc8:hover {
  height: 630px;
}
@media (max-width: 480px) {
  #bloc8:hover {
    height: 12vh;
  }
}

#bloc8:hover p {
  color: blue;
  letter-spacing: 15px;
}
@media (max-width: 480px) {
  #bloc8:hover p {
    letter-spacing: 8px;
  }
}

/*-------------------------------------------------------------------------------*/
header {
  height: 80vh;
  width: 100%;
}

footer {
  width: 100%;
  z-index: 99;
  background-color: white;
  bottom: -20px;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 480px) {
  footer {
    flex-direction: column;
    padding: 24px;
  }
}
@media (min-width: 1024px) {
  footer {
    position: fixed;
    bottom: -20px;
  }
}
footer #name {
  font-size: 200px;
  transition: 0.75s;
  margin: 0;
  font-weight: 600;
}
@media (max-width: 480px) {
  footer #name {
    font-size: 90px;
    padding-top: 80px;
    padding-bottom: 0px !important;
  }
}
footer .info-line {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
footer #infos {
  align-self: flex-end;
  padding: 40px 60px;
}
@media (max-width: 480px) {
  footer #infos {
    align-self: flex-start;
    padding: 0;
  }
}
footer #infos a {
  text-decoration: none;
}

a {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
}

.info {
  color: blue;
  transition: 0.75s;
  font-weight: 600;
}

#content {
  padding: 60px;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  #content {
    width: 100%;
    padding: 24px;
    margin-bottom: 0;
  }
}
#content h2 {
  color: blue;
  font-size: 200px;
  margin: 0;
}
@media (max-width: 480px) {
  #content h2 {
    font-size: 70px;
    padding-top: 90px;
    padding-bottom: 0px !important;
    word-wrap: break-word;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
}
.gallery h3 {
  margin: 8px 0;
  color: black;
  font-size: 24px;
  margin-top: 40px;
}
.gallery p {
  margin: 0;
}
.gallery .col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}
@media (max-width: 480px) {
  .gallery .col {
    margin-top: 0;
    flex-direction: column;
  }
}
.gallery .col img {
  border-radius: 16px;
  max-width: 24.5%;
}
.gallery .col img:hover {
  cursor: pointer;
}
@media (max-width: 480px) {
  .gallery .col img {
    max-width: 100%;
    margin-bottom: 12px;
  }
}
.gallery .col video {
  border-radius: 16px;
  max-width: 49.5%;
}
@media (max-width: 480px) {
  .gallery .col video {
    max-width: 100%;
    padding-bottom: 8px;
  }
}

#experience {
  width: 550px;
}
@media (max-width: 480px) {
  #experience {
    width: 100%;
  }
}

.about-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 180px;
}
@media (max-width: 480px) {
  .about-col {
    flex-direction: column;
    padding-right: 0;
  }
  .about-col > * {
    padding-top: 46px;
  }
}
.about-col .CV-title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 400;
  color: grey;
  margin: 0;
}
.about-col .diplome .nom,
.about-col .diplome .lien {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: blue;
  padding-top: 10px;
}
.about-col .diplome .nom a:hover,
.about-col .diplome .lien a:hover {
  color: rgb(88, 99, 248);
}
.about-col .diplome .lieu {
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin: 6px 0;
}
.about-col .diplome .date {
  font-size: 16px;
  font-weight: 400;
  color: grey;
  margin: 8px 0;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 999;
}
#lightbox img {
  max-width: 90%;
  max-height: 90%;
}
@media (max-width: 480px) {
  #lightbox img {
    width: auto;
    height: 90vw;
    transform: rotate(90deg);
    max-width: 90vh;
    max-height: 90vw;
  }
}
#lightbox .close {
  z-index: 1000;
  position: absolute;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
  color: blue;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#lightbox .close:hover {
  background-color: #5863f8;
  color: white;
}
@media (max-width: 480px) {
  #lightbox .close {
    bottom: 0px;
  }
}
@media (min-width: 1024px) {
  #lightbox .close {
    top: 45px;
    right: 20px;
  }
}
#lightbox .prev {
  left: 5vw;
}
#lightbox .next {
  right: 5vw;
}
#lightbox .prev,
#lightbox .next {
  z-index: 1000;
  position: absolute;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: blue;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#lightbox .prev:hover,
#lightbox .next:hover {
  background-color: #5863f8;
  color: white;
}
@media (max-width: 480px) {
  #lightbox .prev,
  #lightbox .next {
    bottom: 0px;
  }
}
@media (min-width: 1024px) {
  #lightbox .prev,
  #lightbox .next {
    top: 50%;
  }
}
#lightbox.show {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */